/* General layout and colors */

a {
	color: #F5F6F7;
}

a:hover {
	color: #F5F6F7;
}

.top-bar {
  background: #cbcca1;
  font-weight: bold;
}
.top-bar ul {
  background: transparent;
}
.top-bar ul li a {
  color: #303030;
}
.top-bar ul li a:hover {
  color: #414450;
}
.page-cover {
  background: url("../images/cover-pic.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-bottom: 250px;
  padding-top: 180px;
}
section {
  padding-bottom: 140px;
  padding-top: 140px;
  text-align: center;
}
footer {
  background: #733f3f;
  color: #F5F6F7;
  padding-bottom: 110px;
  padding-top: 110px;
  text-align: center;
}
section p {
  text-align: left;
}
p {
  font-size: 1.2em;
}
#galeria {
  padding: 0;
}
#galeria img {
  opacity: 0;
  transition: opacity .65s;
}
/* Smart gallery */
img {
	display: inline-block;
	width: 50%;
}
.image-thumbnail {
  position: relative;
  margin-bottom: 20px;
}
.image-thumbnail > img {
  margin-bottom: 0;
  width: 100%;
}
.image-thumbnail .image-caption {
  background: rgba(22, 22, 22, .75);
  display: none;
  color: #F5F6F7;
  line-height: 38px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.image-thumbnail:hover .image-caption {
  display: block;
}
.gallery-container {
  background-color: #2B2B2B;
  display: block;
  height: auto;
}
.gallery-container .col {
  display: block;
  height: auto;
  padding: 10px;
}
.gallery-container .col *:last-child {
  margin-bottom: 0;
}
.gallery-container .image-thumbnail {
  background-color: #2f2f2f;
  display: block;
  margin-bottom: 10px;
}
@media screen and (min-width: 400px) {
  .gallery-container {
    display: flex;
  }
  .gallery-container .col {
    flex: 1;
    padding: 30px;
  }
  .gallery-container .image-thumbnail {
    margin-bottom: 30px;
  }
}

.button {
	font-size: 1.2em;
}
/* Foundation's social buttons */
.social.facebook {
  background-color: #3b5998;
  color: #fefefe;
}
.social.facebook:hover, .social.facebook:focus {
  background-color: #2f477a;
  color: #fefefe;
}
.social.twitter {
  background-color: #55acee;
  color: #fefefe;
}
.social.twitter:hover, .social.twitter:focus {
  background-color: #1a8fe8;
  color: #fefefe;
}
/* Specific section styles */
#servicios {
	background-color: #967444;
}
#mision {
	background-color: #9ccbdf;
}
#vision {
	background-color: #c29e4d;
}
#foot-bar {
  display: block;
  background: #543131;
  padding: 18px;
}
.foot-bar {
  color: #F5F6F7;
  font-size: 0.9em;
  text-align: right;
}
