/* General layout and colors */

a {
	color: #F5F6F7;
}

a:hover {
	color: #F5F6F7;
}

.top-bar {
  background: #cbcca1;
  font-weight: bold;
}
.top-bar ul {
  background: transparent;
}
.top-bar ul li a {
  color: #303030;
}
.top-bar ul li a:hover {
  color: #414450;
}
.page-cover {
  background: url("../images/cover-pic.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-bottom: 250px;
  padding-top: 180px;
}
section {
  padding: 140px 0;
  text-align: center;
}
footer {
  background: #733f3f;
  color: #F5F6F7;
  padding-bottom: 110px;
  padding-top: 110px;
  text-align: center;
}
section p {
  text-align: left;
}
p {
  font-size: 1.3em;
}

.button {
	font-size: 1.2em;
}
/* Foundation's social buttons */
.social.facebook {
  background-color: #3b5998;
  color: #fefefe;
}
.social.facebook:hover, .social.facebook:focus {
  background-color: #2f477a;
  color: #fefefe;
}
.social.twitter {
  background-color: #55acee;
  color: #fefefe;
}
.social.twitter:hover, .social.twitter:focus {
  background-color: #1a8fe8;
  color: #fefefe;
}
/* Specific section styles */
#servicios {
	background-color: #967444;
}
#mision {
	background-color: #9ccbdf;
}
#vision {
	background-color: #c29e4d;
}
#extra {
	background-color: #51628A;
}
#foot-bar {
  display: block;
  background: #543131;
  padding: 18px;
}
.foot-bar {
  color: #F5F6F7;
  font-size: 0.9em;
  text-align: right;
}
