{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Alvaro Carmona">
  <meta name="keywords" content="venta, reparación, mantenimiento, persianas, Medellín, Camilo Cataño">
  <meta name="description" content="Esta es la página de presentación de
    Persianas, micro-empresa que presta servicio de limpieza, venta e
    instalación de persianas y cortinas liderada por Camilo Andres Cataño en
    Medellín, Antioquia.">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Persianas{% endblock %}</title>

  {% block stylesheets %}
  <link rel="stylesheet" href="{% static 'stylesheets/foundation.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'stylesheets/social_foundicons.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'stylesheets/app.css' %}" type="text/css">
  {% endblock %}
</head>
<body>
  <header>
    {% block header %}
    <nav>
      <div class="top-bar stacked-for-medium">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text"><a href="{% url 'index' %}">Persianas</a></li>
          </ul>
        </div>
        <div class="top-bar-right" style="padding-right: 50px;">
          <ul class="menu">
            <li class="menu-text"><a href="{% url 'galeria' %}">Galería</a></li>
            <li class="menu-text"><a href="{% url 'galeria_videos' %}">Videos</a></li>
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}
  </header>

  {% block content %}
  {% endblock %}
  <footer>
    {% block footer %}
    <div class="row">
      <div class="small-12 medium-6 columns">
        <div class="clearfix"></div>
        <h1>Contactanos</h1>
        <button class="button social facebook small-12 columns">
          <a href="https://www.facebook.com/Persianas-y-Cortinas-432730740429542">
						<i class="foundicon-facebook"></i>
						Facebook
					</a>
        </button>
        <button class="button social whatsapp small-12 columns" style="background: rgba(0,0,0,0);">
					<img src="{% static 'images/whatsapp-logo.png' %}" style="width: 28px;">
          <a href="#">
						<i class="fa fa-whatsapp" aria-hidden="true"></i>
					</a>
					3104496754
        </button>
      </div>
      <div class="small-12 medium-6 columns">
        <h1>Términos y condiciones</h1>
        <p>
          Este sitio expone información sobre Persianas. Cualquier
          inquietud ha de ser notificada por medio de llamada telefonica, correo
          electrónico o red social. No se hacen reservaciones y no se da
          información personal alguna. Por favor utilizar el sitio con
          discresión.
        </p>
      </div>
    </div>
    {% endblock %}
  </footer>
  <div id="foot-bar">
    <div class="foot-bar">
      <div class="foot-bar-right">
        <span>Copyright (c) 2017 Camilo Andres Cataño. All Rights Reserved</span>
      </div>
    </div>
  </div>
  {% block javascript %}
  <script src="{% static 'js/vendor/jquery.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/vendor/what-input.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/vendor/foundation.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/app.js' %}" type="text/javascript"></script>
  {% endblock %}
</body>
</html>
