{% extends 'base/base.html' %}
{% load static %}

{% block title %}Persianas - Inicio{% endblock %}</title>

{% block header %}
{{ block.super }}
<div class="page-cover">
  <div class="row">
    <div class="large-12 columns">
      <div class="small-8 medium-6 medium-offset-2 end columns">
        <h1 class="hero-main-header">{{ home.titulo }}</h1>
          {% if home.subtitulo %}
          <h2 class="hero-subheader">{{ home.subtitulo }}</h2>
          {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
{% if home.texto_servicios %}
<section id="servicios">
  <div class="row">
    <article class="large-12 columns">
      <header>
        {% if home.titulo_servicios %}
        <h1>{{ home.titulo_servicios }}</h1>
        {% endif %}
      </header>
      <p>
       {{ home.texto_servicios }}
      </p>
    </article>
  </div>
</section>
{% endif %}

<section>
  <div class="row">
    <div class="small-12 medium-4 columns">
      <h2>Venta</h2>
      <img src="{% static 'images/sale-tag.png' %}" alt="">
    </div>
    <div class="small-12 medium-4 columns">
      <h2>Reparación</h2>
      <img src="{% static 'images/reparation.png' %}" alt="">
    </div>
    <div class="small-12 medium-4 columns">
      <h2>Instalación</h2>
      <img src="{% static 'images/drill.png' %}" alt="">
    </div>
  </div>
</section>

{% if home.texto_mision %}
<section id="mision">
  <div class="row">
    <article class="large-12 columns">
      <header>
        {% if home.titulo_mision %}
        <h1>{{ home.titulo_mision }}</h1>
        {% endif %}
      </header>
      <p>
        {{ home.texto_mision }}
      </p>
    </article>
  </div>
</section>
{% endif %}
	
{% if home.texto_vision %}
<section id="vision">
  <div class="row">
    <article class="large-12 columns">
      <header>
				{% if home.titulo_vision %}
				<h1>{{ home.titulo_vision }}</h1>
				{% endif %}
      </header>
      <p>
        {{ home.texto_vision }}
      </p>
    </article>
  </div>
</section>
{% endif %}

{% if home.texto_extra %}
<section id="extra">
	<div class="row">
		<article class="small-12 medium-4 columns">
			{% if home.titulo_extra %}
      <header>
				<h2>{{ home.titulo_extra }}</h2>
      </header>
			{% endif %}
      <p>
       {{ home.texto_extra }}
      </p>
		</article>
		<article class="small-12 medium-4 columns">
			<img src="{% static 'images/towel.png' %}" alt="">
		</article>
		<article class="small-12 medium-4 columns">
			<header>
				<h2>Nuestra oferta</h2>
			</header>
			<p>
				Por este año:
				<br>
				<strong>Unidad:</strong> $7000
				<br>
				<strong>Lleve 2 por $10000</strong>
			</p>
		</article>
	</div>
</section>

<section style="padding: 50px 0;">
	<div class="row">
		<div class="small-12 medium-6 columns">
			<img src="http://image.ibb.co/m2fuBv/TOALLA_1.jpg" alt="">
		</div>
		<div class="small-12 medium-6 columns">
			<img src="http://image.ibb.co/m8XwPF/TOALLA_2.jpg" alt="">
		</div>
	</div>
</section>
{% endif %}
{% endblock %}
