{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}Persianas - Inicio{% endblock %}</title>

{% block header %}
{{ block.super }}
<div class="page-cover">
  <div class="row">
    <div class="large-12 columns">
      <div class="small-8 medium-5 medium-offset-2 large-offset-2 end columns">
        <h1 class="hero-main-header">{{ home.titulo }}</h1>
				{% if home.subtitulo %}
				<h2 class="hero-subheader">{{ home.subtitulo }}</h2>
				{% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
{% if home.texto_servicios %}
<section id="servicios">
  <div class="row">
    <article class="large-12 columns">
      <header>
				{% if home.titulo_servicios %}
				<h1>{{ home.titulo_servicios }}</h1>
				{% endif %}
      </header>
      <p>
       {{ home.texto_servicios }}
      </p>
    </article>
  </div>
</section>
{% endif %}

<section>
  <div class="row">
    <div class="small-12 medium-4 columns">
      <h2>Venta</h2>
      <img src="{% static 'images/sale-tag.png' %}" alt="">
    </div>
    <div class="small-12 medium-4 columns">
      <h2>Reparación</h2>
      <img src="{% static 'images/reparation.png' %}" alt="">
    </div>
    <div class="small-12 medium-4 columns">
      <h2>Instalación</h2>
      <img src="{% static 'images/drill.png' %}" alt="">
    </div>
  </div>
</section>

{% if home.texto_mision %}
<section id="mision">
  <div class="row">
    <article class="large-12 columns">
      <header>
				{% if home.titulo_mision %}
				<h1>{{ home.titulo_mision }}</h1>
				{% endif %}
      </header>
      <p>
        {{ home.texto_mision }}
      </p>
    </article>
  </div>
</section>
{% endif %}

{% if home.texto_vision %}
<section id="vision">
  <div class="row">
    <article class="large-12 columns">
      <header>
				{% if home.titulo_vision %}
				<h1>{{ home.titulo_vision }}</h1>
				{% endif %}
      </header>
      <p>
        {{ home.texto_vision }}
      </p>
    </article>
  </div>
</section>
{% endif %}
{% endblock %}
